@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?pwahcp');
    src: url('../fonts/icomoon.eot?pwahcp#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?pwahcp') format('truetype'), url('../fonts/icomoon.woff?pwahcp') format('woff'), url('../fonts/icomoon.svg?pwahcp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}

[class^="icon-"]:hover,
[class*=" icon-"]:hover {
    color: #397DFF;
}

.icon-chevron-left:before {
    content: "\e900";
}

.icon-chevron-right:before {
    content: "\e901";
}

.icon-circle:before {
    content: "\e902";
}

.icon-copy:before {
    content: "\e903";
}

.icon-home:before {
    content: "\e904";
}

.icon-layers:before {
    content: "\e905";
}

.icon-link:before {
    content: "\e906";
}

.icon-mail:before {
    content: "\e907";
}

.icon-phone:before {
    content: "\e908";
}

.icon-square:before {
    content: "\e909";
}

.icon-triangle:before {
    content: "\e90a";
}