@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?1cacjb');
    src: url('fonts/icomoon.eot?1cacjb#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?1cacjb') format('truetype'), url('fonts/icomoon.woff?1cacjb') format('woff'), url('fonts/icomoon.svg?1cacjb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-about-company:before {
    content: "\e900";
}

.icon-ellipse:before {
    content: "\e901";
    color: #397dff;
}

.icon-ellipse-modal .path1:before {
    content: "\e902";
    color: rgb(57, 125, 255);
}

.icon-ellipse-modal .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(57, 125, 255);
    opacity: 0.15;
}

.icon-ellipse-plus .path1:before {
    content: "\e904";
    color: rgb(57, 125, 255);
    opacity: 0.15;
}

.icon-ellipse-plus .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: none;
}

.icon-ellipse-plus .path3:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(57, 125, 255);
}

.icon-ellipse-plus .path4:before {
    content: "\e907";
    margin-left: -1em;
    color: none;
}

.icon-gotovie-resheniya:before {
    content: "\e908";
}

.icon-header-mail:before {
    content: "\e909";
}

.icon-header-tel:before {
    content: "\e90a";
}

.icon-home:before {
    content: "\e90b";
    color: #397dff;
}

.icon-lamp:before {
    content: "\e90c";
}

.icon-mail_icon:before {
    content: "\e90d";
}

.icon-map-pin:before {
    content: "\e90e";
}

.icon-phone_icon:before {
    content: "\e90f";
}

.icon-plus:before {
    content: "\e910";
    color: #397dff;
}

.icon-projects:before {
    content: "\e911";
}