*,
*::after,
*::before {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active,
a:focus,
a:active {
  outline: none; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button,
a {
  cursor: pointer; }

a,
a:visited,
a:hover {
  cursor: pointer;
  text-decoration: none; }

ul,
li,
ol {
  list-style: none; }

p,
a,
button,
input {
  border: none;
  text-decoration: none; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background: #fff; }
  body footer {
    height: 20px;
    background: #333;
    margin-top: auto; }
    body footer p {
      text-align: center;
      color: #444; }
  @media (max-width: 1200px) {
    body.lock {
      overflow: hidden; }
    body .content.opacity {
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; } }
  body .content {
    margin-top: 90px;
    -webkit-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s; }
    @media (max-width: 1200px) {
      body .content {
        margin-top: 115px; } }

header {
  background: #EBEEF5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.header {
  height: 90px;
  max-width: 1980px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header_menu li {
      margin: 0 0 0 30px; }
      .header_menu li a.menu-a {
        color: #e1e8ed;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.3px;
        color: #2b2d3ab3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        text-align: center;
        display: inline-block;
        position: relative; }
        .header_menu li a.menu-a::after {
          content: '';
          height: 0px;
          width: 0px;
          background: #397DFF;
          position: absolute;
          left: 50%;
          bottom: -35px;
          -webkit-transition: all 0.3s cubic-bezier(0, 0.9, 1, 1);
          -o-transition: all 0.3s cubic-bezier(0, 0.9, 1, 1);
          transition: all 0.3s cubic-bezier(0, 0.9, 1, 1); }
      .header_menu li:hover a.menu-a {
        font-weight: 600;
        color: #397DFF;
        letter-spacing: 0; }
        .header_menu li:hover a.menu-a::after {
          left: 0;
          height: 3px;
          width: 100%; }
    .header_menu .header-contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative; }
      .header_menu .header-contact span,
      .header_menu .header-contact img {
        position: absolute;
        left: 5px;
        width: 20px; }
      .header_menu .header-contact a {
        display: block;
        padding: 0 0 0 37px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #2B2D3A; }
        .header_menu .header-contact a.modal-call {
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 13px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #397DFF; }
    .header_menu-mob {
      display: none; }
  .header_burger {
    position: relative;
    width: 18px;
    height: 14px;
    display: none; }
    .header_burger:before, .header_burger:after,
    .header_burger span {
      content: "";
      position: absolute;
      background-color: #2B2D3A;
      width: 100%;
      height: 2px;
      border-radius: 23px;
      -webkit-transition: top 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, bottom 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, height 0.5s ease 0.5s, -webkit-transform 0.5s ease 0s;
      transition: top 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, bottom 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, height 0.5s ease 0.5s, -webkit-transform 0.5s ease 0s;
      -o-transition: transform 0.5s ease 0s, top 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, bottom 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, height 0.5s ease 0.5s;
      transition: transform 0.5s ease 0s, top 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, bottom 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, height 0.5s ease 0.5s;
      transition: transform 0.5s ease 0s, top 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, bottom 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, height 0.5s ease 0.5s, -webkit-transform 0.5s ease 0s; }
    .header_burger.active::before, .header_burger.active::after,
    .header_burger.active span {
      -webkit-transition: top 0.5s ease 0s, bottom 0.5s ease 0s, height 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s;
      transition: top 0.5s ease 0s, bottom 0.5s ease 0s, height 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s;
      -o-transition: transform 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, top 0.5s ease 0s, bottom 0.5s ease 0s, height 0.5s ease 0s;
      transition: transform 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, top 0.5s ease 0s, bottom 0.5s ease 0s, height 0.5s ease 0s;
      transition: transform 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s, top 0.5s ease 0s, bottom 0.5s ease 0s, height 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.18, 0.89, 0, 1.97) 0.5s; }
    .header_burger.active:before {
      top: 6px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .header_burger.active:after {
      bottom: 6px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .header_burger.active span {
      height: 0px; }
    .header_burger:before {
      top: 0px; }
    .header_burger:after {
      bottom: 0px; }
    .header_burger span {
      top: 6px;
      background: #2B2D3A; }
    @media (max-width: 1200px) {
      .header_burger {
        display: block;
        overflow: auto; } }

@media (max-width: 1200px) {
  .header {
    margin-top: 25px;
    padding: 0 30px 0 16px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header_menu {
      display: none; }
    .header_menu-mob {
      position: absolute;
      overflow: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 375px;
      padding: 0px 16px 0 16px;
      background: #EBEEF5;
      right: -375px;
      top: 115px;
      -webkit-transition: all 0.3s cubic-bezier(0, 0.9, 1, 1);
      -o-transition: all 0.3s cubic-bezier(0, 0.9, 1, 1);
      transition: all 0.3s cubic-bezier(0, 0.9, 1, 1); }
      .header_menu-mob.active {
        right: 0px; }
      .header_menu-mob li {
        width: 100%;
        height: 72px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        overflow: auto; }
        .header_menu-mob li a {
          padding: 0 0 0 24px;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.01em;
          color: #2B2D3A;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
        .header_menu-mob li:not(:nth-last-child(1))::after {
          content: '';
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: 0;
          background: #2b2d3a1a; }
        .header_menu-mob li.mob_contact {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          height: auto; }
          .header_menu-mob li.mob_contact button {
            width: 100%;
            height: 42px;
            margin: 32px auto;
            color: #fff;
            background: #397DFF;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            border-radius: 6px; }
          .header_menu-mob li.mob_contact p {
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 27px; }
          .header_menu-mob li.mob_contact a {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            margin: 32px 0;
            padding: 0 0 0 18px;
            color: #397DFF; }
            .header_menu-mob li.mob_contact a img {
              position: relative;
              left: -18px; } }

.modal-pop {
  display: none;
  height: 407px;
  width: 538px;
  padding: 32px 42px;
  background: #fff;
  border-radius: 16px;
  position: absolute;
  left: calc(50% - 269px);
  bottom: -510px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .modal-pop button.close {
    position: absolute;
    background: #fff;
    top: 20px;
    right: 30px;
    width: 18px;
    height: 14px; }
    .modal-pop button.close:before, .modal-pop button.close:after {
      content: "";
      position: absolute;
      background-color: #2B2D3A;
      width: 100%;
      height: 2px;
      border-radius: 23px; }
    .modal-pop button.close:before {
      top: 6px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .modal-pop button.close:after {
      bottom: 6px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .modal-pop h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .modal-pop p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .modal-pop form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .modal-pop form input,
    .modal-pop form button {
      height: 48px;
      width: 454px;
      margin: 16px;
      padding: 15px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .modal-pop form input {
      margin: 16px auto;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 9px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 114%; }
    .modal-pop form button {
      background: #397DFF;
      margin: 16px auto;
      border-radius: 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF; }
  .modal-pop.active {
    display: block;
    position: fixed;
    overflow: auto;
    height: 407px;
    bottom: calc(50% - 200px); }
  @media (max-width: 768px) {
    .modal-pop {
      border-radius: 12px;
      height: 343px;
      width: 346px;
      padding: 32px 16px;
      left: calc(50% - 173px);
      bottom: -343px; }
      .modal-pop button.close {
        top: 20px;
        right: 30px;
        width: 18px;
        height: 14px; }
      .modal-pop h2 {
        font-size: 21px;
        line-height: 26px; }
      .modal-pop p {
        font-size: 12px; }
      .modal-pop form input,
      .modal-pop form button {
        height: 42px;
        width: 311px;
        margin: 16px;
        padding: 12px; }
      .modal-pop form input {
        margin: 8px auto;
        border-radius: 9px;
        font-size: 14px;
        line-height: 114%; }
      .modal-pop form button {
        background: #397DFF;
        margin: 8px auto;
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px; }
      .modal-pop.active {
        height: 343px;
        bottom: calc(50% - 161px); } }

.block5 {
  max-width: 1920px;
  max-height: 620px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.electro-voice0,
.electro-voice1 {
  width: 50vw;
  height: 32.3vw;
  max-height: 620px; }

.electro-voice0 {
  background: url(../img/electro_voice0.jpg) 0 0/100% auto no-repeat; }

.electro-voice1 {
  background: url(../img/Electro_Voice_EVID0.png) 20% 5%/10% no-repeat, url(../img/Electro_Voice_EVID1.png) 80% 5%/10% no-repeat, url(../img/electro_voice1.jpg) 0 0/100% auto no-repeat;
  position: relative; }

.modal_electro-voice {
  position: absolute;
  top: 10%; }
  .modal_electro-voice img {
    height: 4vw;
    max-height: 68px; }
  .modal_electro-voice img:nth-child(2) {
    position: absolute;
    top: 0;
    display: none; }
  .modal_electro-voice_hover-block {
    position: absolute;
    top: -180px;
    right: -20px;
    width: 352px;
    background: #fff;
    padding: 17px 24px;
    border-radius: 10px;
    display: none; }
    .modal_electro-voice_hover-block h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 132%; }
    .modal_electro-voice_hover-block ul li {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 142%;
      margin: 5px 20px;
      color: #2B2D3A;
      list-style-image: url(../img/ellipse-modal.svg); }
    .modal_electro-voice_hover-block img {
      position: absolute;
      height: 66px;
      top: 12px;
      right: 36px; }
  .modal_electro-voice:hover img:nth-child(2), .modal_electro-voice:active img:nth-child(2) {
    display: block; }
  .modal_electro-voice:hover .modal_electro-voice_hover-block, .modal_electro-voice:active .modal_electro-voice_hover-block {
    display: block;
    height: 180px; }

.modal_electro-voice:nth-child(1) {
  left: 20%; }
  .modal_electro-voice:nth-child(1) .modal_electro-voice_hover-block {
    right: -126px; }

.modal_electro-voice:nth-child(2) {
  right: 20%; }

.block-slider {
  height: 620px;
  background: url(../img/bgr-slider.jpg) center no-repeat; }
