.modal-pop {
    // display: none;
    //
    height: 407px;
    width: 538px;
    padding: 32px 42px;
    background: #fff;
    border-radius: 16px;
    position: absolute;
    left: calc(50% - 269px);
    bottom: -410px;
    transition: all 0.3s cubic-bezier(0, 0.9, 1, 1);
    button.close {
        // !! заменить крестик 
        position: absolute;
        background: #fff;
        // padding: 20px 30px;
        top: 20px;
        right: 30px;
        width: 18px;
        height: 14px;
        &:before,
        &:after,
        {
            content: "";
            position: absolute;
            background-color: #2B2D3A;
            width: 100%;
            height: 2px;
            border-radius: 23px;
        }
        &:before {
            top: 6px;
            transform: rotate(-45deg);
        }
        &:after {
            bottom: 6px;
            transform: rotate(45deg);
        }
    }
    h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        input,
        button {
            height: 48px;
            width: 454px;
            margin: 16px;
            padding: 15px;
        }
        input {
            margin: 16px auto;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 9px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 114%;
        }
        button {
            background: #397DFF;
            margin: 16px auto;
            border-radius: 8px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
    &.active {
        display: block;
        height: 407px;
        bottom: calc(50% - 200px);
    }
    @media (max-width: 768px) {
        border-radius: 12px;
        height: 343px;
        width: 346px;
        padding: 32px 16px;
        left: calc(50% - 183px);
        bottom: -343px;
        button.close {
            top: 20px;
            right: 30px;
            width: 18px;
            height: 14px;
        }
        h2 {
            font-size: 21px;
            line-height: 26px;
        }
        p {
            font-size: 12px;
        }
        form {
            input,
            button {
                height: 42px;
                width: 311px;
                margin: 16px;
                padding: 12px;
            }
            input {
                margin: 8px auto;
                border-radius: 9px;
                font-size: 14px;
                line-height: 114%;
            }
            button {
                background: #397DFF;
                margin: 8px auto;
                border-radius: 8px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
            }
        }
        &.active {
            height: 343px;
            bottom: calc(50% - 161px);
        }
    }
}