*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Montserrat', sans-serif;
}

:focus,
 :active,
a:focus,
a:active {
    outline: none;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button,
a {
    background: none;
    cursor: pointer;
    // font-family: 'Montserrat', sans-serif;
}

a,
a:visited,
a:hover {
    cursor: pointer;
    text-decoration: none;
    // font-family: 'Montserrat', sans-serif;
}

ul,
li,
ol {
    list-style: none;
}

p,
a,
button,
input {
    border: none;
    text-decoration: none;
}

// p::selection {}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fff;
    footer {
        background: #EBEEF5;
        height: 90px;
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            text-align: center;
            color: #444;
        }
    }
    @media (max-width: 1200px) {
        &.lock {
            overflow: hidden;
        }
        .content.opacity {
            // opacity: 0.1;
            transition: all 0.5s ease 0s;
        }
    }
    .content {
        margin-top: 90px;
        transition: all 0.5s ease 0.5s;
        @media (max-width: 1200px) {
            margin-top: 115px;
        }
    }
}