.block-slider {
    height: 620px;
    background: url(../img/bgr-slider.jpg) center no-repeat;
    // position: relative;
    display: flex;
    &_left {
        display: flex;
        flex-direction: row-reverse;
        align-self: center;
        flex: 1;
        &_block {
            color: #ffffffcc;
            width: 590px;
            height: 293px;
            h2 {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                margin: 0 0 12px 0;
            }
            h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 52px;
                line-height: 63px;
                margin: 0 0 24px 0;
            }
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 148%;
                margin: 0 0 54px 0;
            }
            button {
                border-radius: 8px;
                color: #ffffffcc;
                width: 186px;
                height: 48px;
                &:nth-child(1) {
                    border: 2px solid #ffffffcc;
                    margin: 0 24px 0 0;
                }
                &:nth-child(2) {
                    background: #397DFF;
                }
            }
        }
    }
    &_right {
        max-width: 970px;
        display: flex;
        flex: 1;
        // flex-direction: row-reverse;
        align-self: center;
        color: #ffffffcc;
        &_block {
            width: 282px;
            .sld-block {
                h2 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 64px;
                    line-height: 78px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.02em;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    color: #397DFF;
                }
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 160%;
                    /* or 22px */
                    display: flex;
                    align-items: center;
                    color: #ffffffb3;
                }
            }
        }
    }
}